@model CategoryViewModel
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "Categgories";
}
<style>
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<div class="row mb-2">
    <div class="col-sm-6">
        <h1 class="m-0">Dashboard</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/Home/Books">Books</a></li>
            <li class="breadcrumb-item active">Books Categories</li>
        </ol>
    </div><!-- /.col -->
</div><!-- /.row -->
 <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
              @*  <h3 class="card-title">DataTable with minimal features & hover style</h3>*@
                        <button type="button" class="btn btn-primary" onclick="reset()" data-toggle="modal" data-target="#exampleModal">
                           New Category
                        </button>

              </div>
              <!-- /.card-header -->
                    <!-- Tab links -->
                    <div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'Categories')" id="defaultOpen">Categories</button>
                        <button class="tablinks" onclick="openCity(event, 'Logcategories')">Logcategories</button>
                       
                    </div>

                    <!-- Tab content -->
                    <div id="Categories" class="tabcontent">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ٌCategory Name</th>
                                    <th>Describtion</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.category)
                                {
                                    <tr>
                                        <td>
                                           @item.Name
                                        </td>
                                        <td>
                                           @item.Description
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-info" onclick="Edit('@item.ID','@item.Name','@item.Description;)" value="Edit">
                                            <a type="submit" class="btn btn-info" asp-action="Delete" asp-controller="Category" asp-route-Id="@item.ID">Delete</a>
                                        </td>
                                    </tr>

                                }

                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>

                    <div id="Logcategories" class="tabcontent">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ٌ#</th>
                                    <th>ٌCategory Name</th>
                                    <th>ٌ Action</th>
                                    <th>ٌ Date</th>
                                    <th>ٌ User </th>
                                
                                    <th>Events</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.logCategory)
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td>@item.category.Name</td>
                                        <td>
                                            @switch (@item.Action)
                                            {
                                                case "Delete":
                                                <span class="badge badge-danger" style="width:250px;height:25px;">@item.Action</span>
                                                break;
                                                case "Save":
                                                <span class="badge badge-success" style="width:250px;height:25px;">@item.Action</span>
                                                break;
                                               
                                                default:
                                                    <span class="badge badge-warning" style="width:250px;height:25px;">@item.Action</span>
                                                break;
                                            }
                                        </td>
                                        <td>@item.Date</td>
                                        <td>@userManager.FindByIdAsync(item.UserId.ToString())?.Result.Name</td>
                                        <td>
                                            <input type="submit" class="btn btn-info" value="Edit">
                                            <a type="submit" class="btn btn-info" asp-action="DeleteRole" asp-controller="Accounts" asp-route-Id="@item.ID">Delete</a>
                                        </td>
                                    </tr>

                                }

                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>

                    </div>
              <div class="card-body">
                
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- Button trigger modal -->
            </div>
           
            </div>
            </div>
            </div>
            </section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title" id="title">Add New Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                <form asp-action="Create" asp-controller="Category" method="post">
           <div class="form-group">
               <input type="text" hidden asp-for="NewCategory.ID" id="CategoryId" />
           <label asp-for="NewCategory.Name" class="controle-label">Category Name</label>
                        <input type="text" class="form-controle" asp-for="NewCategory.Name" id="CategoryName" />
           </div>

            <div class="form-group">
           <label asp-for="NewCategory.Description" class="controle-label">Describtion</label>
                        <input type="text" class="form-controle" asp-for="NewCategory.Description" id="Description" />
           </div>
                  
                        
                         <div class="modal-footer">
                        <input type="submit" class="btn btn-secondary" data-dismiss="modal"  value="close">
                        <input type="submit" class="btn btn-primary" id="Save" value="Save">
                    </div>
       </form>
      </div>
      
    </div>
  </div>
</div>
@section Scripts{
    @if (!string.IsNullOrEmpty(Context.Session.GetString("MessageType")))
    {
        if (Context.Session.GetString("MessageType") == "Success")
        {
            <script>
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: @Context.Session.GetString("Title"),
                    text:@Html.Raw(Context.Session.GetString("Message")),
                    showConfirmButton: OK,
                    timer: 1500
                })
                </script>
        }
        else{
            <script>
    Swal.fire({
        icon: 'error',
        title: @Context.Session.GetString("Title"),
        text: @Html.Raw(Context.Session.GetString("Message")),
            showConfirmButton: OK,
            timer: 1500
       
    })
            </script>
        }
        Context.Session.SetString("MessageType", "");

    
}
}
<script src="~/Models/Roles.js"></script>
<script src="~/Models/category.js"></script>

